/*!

* WEDDING

* Obeth Dewa Wardhana - FrontEndDeveloper

*/



/* --- BUTTON --- */



button:focus{

	outline: none !important;

}



.btn-primary[aria-expanded="true"] {

	background-color: #ffc107;

	border-color: #ffc107;

	color: #333333 !important;

}



/*button default*/



.btn-primary {

	font-size: 14px;
    text-transform: uppercase;
    background-color: #ebcfaa!important;
    border: transparent;
    font-family: 'Montserrat',sans-serif!important;
    letter-spacing: 1px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    color: #9c6169;
    letter-spacing: 2px;
    border: 2px solid transparent;

}

.btn-primary:hover {
    color: #9c6169;
    background: transparent!important;
    border: 2px solid #9c6169!important;
}


.btn-primary.focus, .btn-primary:focus {

    box-shadow: 0 0 0 0.2rem rgb(202 202 202 / 50%)!important;

}

.btn-primary:active, .btn-primary:focus {
    outline: none;
    border: 2px solid #9c6169;
    box-shadow: unset!important;
}



.btn-wedding{

	color: #9c6169;

	background-color: #292560;

	font-weight: 400;

	transition: all 0.5s ease;

	-webkit-transition: all 0.5s ease;

	-moz-transition: all 0.5s ease;

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	border-radius:8px;

}

.btn.btn-wedding:focus {

	box-shadow: unset;

}

.btn:visited{

	color: #9c6169;

}

.btn:link{

	color: #9c6169;

}

.btn-wedding:hover{

	color: #9c6169;

	background-color: #002a84;

	transition: all 0.5s ease;

	-webkit-transition: all 0.5s ease;

	-moz-transition: all 0.5s ease;

}

.btn-wedding i{

	font-size: 18px;

	color: #9c6169;

	transition: all 0.5s ease;

	-webkit-transition: all 0.5s ease;

	-moz-transition: all 0.5s ease;

}

.btn-wedding:hover i{

	color: #9c6169;

	transition: all 0.5s ease;

	-webkit-transition: all 0.5s ease;

	-moz-transition: all 0.5s ease;

}

.btn-transparent {

	background-color: transparent;

	border-color: transparent;

	color: #01449f;

}

.btn-transparent:link {

	color: #01449f;

}

.btn-transparent:visited {

	color: #01449f;

}

.btn-transparent:hover {

	background-color: transparent;

	border-color: transparent;

	color: #28a745;

}



/*button outline*/



.btn-outline {

	color: #292560;

	border-color: #292560;

	background-color: transparent;

}

.btn-outline:visited{

	color: #292560;

}

.btn-outline:link{

	color: #292560;

}

.btn-outline:hover {

	color: #9c6169;

	border-color: #002a84;

	background-color: #002a84;

}



/*button hover effect push-out-horizontal*/



.btn-wedding.effect-push-out-horizontal {

	position: relative;

	background-color: #292560;

}

.btn-wedding.effect-push-out-horizontal:before {

	background: #9c6169;

	border-radius: .25rem;

	-webkit-border-radius: .25rem;

	-moz-border-radius: .25rem;

}

.btn-wedding.effect-push-out-horizontal:hover, 

.btn-wedding.effect-push-out-horizontal:focus, 

.btn-wedding.effect-push-out-horizontal:active {

	color: #292560 !important;

}

.btn-wedding.effect-push-out-horizontal:hover i, 

.btn-wedding.effect-push-out-horizontal:focus i, 

.btn-wedding.effect-push-out-horizontal:active i {

	color: #292560 !important;

}



/*button hover effect push-in-horizontal*/



.btn-wedding.effect-push-in-horizontal {

	position: relative;

	background-color: #9c6169;

	border-color: #292560;

}

.btn-wedding.effect-push-in-horizontal:before {

	background: #292560;

	border-radius: .25rem;

	-webkit-border-radius: .25rem;

	-moz-border-radius: .25rem;

}

.btn-wedding.effect-push-in-horizontal:hover, 

.btn-wedding.effect-push-in-horizontal:focus, 

.btn-wedding.effect-push-in-horizontal:active {

	color: #292560 !important;

}



/*button hover effect swipe-right*/



.btn-wedding.effect-swipe-right:before {

	background: #9c6169;

	border-radius: .25rem;

	-webkit-border-radius: .25rem;

	-moz-border-radius: .25rem;

}

.btn-wedding.effect-swipe-right:hover, 

.btn-wedding.effect-swipe-right:focus, 

.btn-wedding.effect-swipe-right:active {

	color: #292560 !important;

}



/*button hover effect swipe-left*/



.btn-wedding.effect-swipe-left:before {

	background: #9c6169;

	border-radius: .25rem;

	-webkit-border-radius: .25rem;

	-moz-border-radius: .25rem;

}

.btn-wedding.effect-swipe-left:hover, 

.btn-wedding.effect-swipe-left:focus, 

.btn-wedding.effect-swipe-left:active {

	color: #292560 !important;

}



/*button hover effect scale*/



.effect-scale-out:hover,

.effect-scale-out:focus,

.effect-scale-out:active {

	-webkit-transform: scale(0.9);

	-moz-transform: scale(0.9);

}



.effect-scale-in:hover,

.effect-scale-in:focus,

.effect-scale-in:active {

	backface-visibility: hidden;

	-webkit-font-smoothing: antialiased;

	-webkit-transform: scale(1.09) perspective(1px) translateZ(0);;

	-moz-transform: scale(1.09) perspective(1px) translateZ(0);;

}



/*button hover effect scale*/



.effect-rotate:hover i {

	transform: rotateY(360deg);

	-webkit-transform: rotateY(360deg);

	-moz-transform: rotateY(360deg);

	transition: all 0.8s ease;

	-webkit-transition: all 0.8s ease;

	-moz-transition: all 0.8s ease;

}



.btn-sidebar{

	border-radius: 20px;

	-webkit-border-radius:20px;

	-moz-border-radius:20px;

	width: 40px;

	height: 40px;

	display: block;

	position: relative;

}



.btn-sidebar span {

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%,-50%);

	-webkit-transform: translate(-50%,-50%);

	-moz-transform: translate(-50%,-50%);

}



/* --- FORM INPUT --- */



.form-control{

	color: #999999;

	border-radius: 8px;

}

.form-control::placeholder{

	color: #c1c1c1;

	font-size: 18px;

}

.form-group{

	position: relative;

}



.form-control:focus, .form-control:active {

	box-shadow: unset;

}



/*form group*/

.form-group-wedding label {

	font-size: 16px;

	color: #591b22!important;

	text-transform: capitalize;

	font-family: "Montserrat",sans-serif;

}

.form-group-wedding .form-control{

	background-color: #e6caa3;

	border-color: #591b22!important;

	border-radius: 7px;

	color: #999999;

	font-family: 'Montserrat',sans-serif;

	font-size: 12px;

	text-transform: capitalize;

}

.form-group-wedding textarea{

	text-align: left;

}



.form-inline .form-control {

	width: 100%;

}

.form-inline label {

	margin-bottom: .5rem;

}



.form-disabled {

	background-color: #e5e5e5!important;

	border-color: #ced4da;

	border-radius: 7px;

	color: #999999;

	display: block;

	height: calc(1.5em + 0.75rem + 2px);

	padding: 0.375rem 0.75rem;

	font-size: 1rem;

	font-weight: 400;

	line-height: 1.5;

	background-clip: padding-box;

	border: 1px solid #ced4da;

	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	width: 100%;

	overflow: hidden;

	pointer-events: none;

}



.form-view {

	display: flex;

	flex-direction: row;

	align-items: center;

	margin-bottom: 5px;

}



.form-view input, .form-view textarea, .form-view div {

	background-color: #9c6169!important;

	border: none;

	padding: 0;

	color: #2D3741;

	width: 50%;

	height: unset!important;

	margin-bottom: 0.5rem;

	margin-left: 20px;

}



.form-view label {

	width: 50%;

	font-weight:600;

}



/*input group*/



.input-group-wedding .form-control{

	background-color: #9c6169;

	border-color: #ced4da;

	color: #999999;

	border-right: none;

}

.input-group-wedding .input-group-prepend .input-group-text{

	background-color: #9c6169;

	border-top: 1px solid #ced4da;

	border-bottom: 1px solid #ced4da;

	border-left: none;

	position: relative;

	right: 0px;

	z-index: 1;

	border-radius: .25rem;

	-webkit-border-radius: .25rem;

	-moz-border-radius: .25rem;

}

.input-group-wedding .input-group-append .input-group-text{

	background-color: #e7e7e7;

	border-top: 1px solid #ced4da;

	border-right: 1px solid #ced4da;

	border-bottom: 1px solid #ced4da;

	border-left: 1px solid #9c6169;

	position: relative;

	left: 0px;

	z-index: 1;

}

.input-group-wedding .input-group-text i{

	color: #6686fa;

	font-size: 12px;

}



.modal-body .input-group-wedding .form-valid.error{

	padding:.375rem .75rem!important;

	font-size: 1rem !important;

}



.input-group-wedding label.error {

	position: absolute!important;

	font-size: 12px!important;

	right: 0;

	bottom: -34px;

}



/*checkbox*/



.check-wedding .custom-control-label{

	line-height: 1.7;

	font-weight: 400;

}

.check-wedding .custom-control-label::before{

	border-color: #999999;

}

.check-wedding:hover .custom-control-label{

	cursor: pointer;

}

.check-wedding .custom-control-input:checked ~ .custom-control-label::before{

	border-color: #f98341;

	background-color: #f98341;

}



.custom-control-label {

	font-size: 16px;

	color: #591b22!important;

	text-transform: capitalize;

	font-family: "Montserrat",sans-serif;

	min-width:80px;

}

/*checkbox collapse sub*/



.collapse-wedding-sub {

	padding: 0 0 0 25px;

	margin: 0;

}

.collapse-wedding-sub-box ul {

	width: 100%;

}

.collapse-wedding-sub-box .collapse-wedding-link.navigation-chevron[aria-expanded="true"]:after {

	top: 0;

}

.collapse-wedding-sub-box .collapse-wedding-link.navigation-chevron[aria-expanded="false"]:after {

	top: 0;

}



/*radio*/



.radio-wedding .custom-control-label{

	line-height: 1.7;

	font-weight: 400;

}

.radio-wedding .custom-control-label::before{

	border-color: #591b22!important;

	background:#9c6169;

}

.radio-wedding:hover .custom-control-label{

	cursor: pointer;

}

.radio-wedding .custom-control-input:checked ~ .custom-control-label::before{

	border-color: #591b22!important;

	background-color: #591b22!important;	
	
	box-shadow: unset!important;

}



/*link collapse*/



.custom-control.custom-link {

	padding-left: 0;

	width: 100%;

}

.custom-control.custom-link a {

	color: #333333;

}

.custom-control.custom-link a:hover {

	color: #01449f;

}

.custom-control.custom-link a span {

	color: #999999;

}

.custom-control.custom-link a:hover span {

	color: #01449f;

}



/*datepicker*/



.form-control.datepicker{

	padding: .375rem .75rem;

}



/* Hide Spinner in Input Number */



input[type=number]::-webkit-inner-spin-button, 

input[type=number]::-webkit-outer-spin-button { 

	-webkit-appearance: none; 

	margin: 0; 

}

input[type=number] {

	-moz-appearance:textfield;

}



/*Spinner button*/



.btn-spinner{

	position: relative;

}

.btn-spinner .spinner-border{

	position:absolute;

	left: 10px;

	top: 10px;

}

.btn-spinner-text {

	display: inline;

	text-transform: capitalize;

	margin-left: 22px;

}



/* Button Login */



.btn-login-facebook {

	background-color: #4267B2;

}



.btn-login-facebook:hover {

	background-color: #4267B2;

	opacity:0.7;

}



/* Input upload files */



.file-wedding{

	overflow: hidden;

}

.file-wedding .custom-file-label{

	cursor: pointer;

	background-color: #9c6169;

	border-color: #ced4da;

	color: #999999;

	line-height: 1.5;

	margin-bottom: 0;

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

}

.file-wedding .custom-file-label::after{

	content: "UPLOAD";

	color: #9c6169;

	font-weight: 500;

	background-color: #6686fa;

	border-left: unset;

	min-width: 80px;

	width: auto;

	text-align: center;

	display: block;

	line-height: 1.5;

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

}



.file-wedding .custom-file-input{

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	cursor: pointer;

}



/* Input upload photo profile*/



.profile-photo{

	display: block;

	margin: 0;

	position: relative;

}

.profile-photo-img{

	display: block;

	overflow: hidden;

	width: 130px;

	height: 130px;

	border: 1px solid #dddddd;

	background-color: #232323;

	z-index: 1;

	position: relative;

	margin:0 auto;

}

.profile-photo-img img{

	display: block;

	width: 130px;

	height: 130px;

	object-fit: contain;

	object-position: center;

	max-width: 100%;

	max-height: 100%;

}

.profile-photo-action{

	display: block;

	position: absolute;

	top: 32px;

	left: 25px;

	width: 130px;

	height: 130px;

	z-index: 2;

	pointer-events:none;

}

.profile-photo-action:hover,

.profile-photo-action:hover input{

	cursor: pointer;

}

.profile-photo-action input[type="file"] {

	opacity: 0;

	position: absolute;

	top: 0;

	left: 0;

	display: block;

	width: 100%;

	height: 100%;

	background-color: transparent;

	overflow: hidden;

	z-index: 3;

}



label.btn-custom-upload label.error {

	display: block;

	position: absolute;

	bottom: -35px;

	right: 0;

	font-weight: 500;

}



.modal-body .btn-custom-upload .form-valid.error {

	position: absolute!important;

}



/*error message for form*/



label.error,

label.success,

.error,

.success,

.modal-body .error,

.modal-body .success,

.modal-body label.error,

.modal-body label.success{

	display: block;

	position: relative;

	padding: 2px 5px 2px;

	font-size: 12px !important;

	font-weight: 300;

	text-transform: none;

}

.error{

	color: #e55259 !important;

}

.success{

	color: #3c763d !important;

}

.form-group > .form-control.error,

.form-group > .form-control.success{

	font-size: 18px!important;

	font-weight: 400;

	padding: .375rem .75rem;		

}

.form-group > .error,

.form-group > .success{

	font-size: 12px;

}

.form-group label.error {

	font-weight: 500;

	text-align: right;

	margin-top: 2px;

	color: red!important;

	display: block;

	position: relative;

	top: 0;

	right: 0;

}



/* --- FILTER --- */ 



.filter-vertical-box {

	position: relative;

	display: block;

}

.filter-horizontal-box {

	position: relative;

	display: block;

}

.filter-wedding-group-box{

	display: flex;

	justify-content: space-between;

	align-items: center;

	width: 100%;

	border: 1px solid #ddd;

	padding: 20px 20px 10px;

	flex-wrap: wrap;

}

.filter-wedding-group{

	display: flex;

	justify-content: flex-start;

	align-items: center;

	flex-wrap: wrap;

}

.filter-wedding-group .form-group{

	margin-right: 15px;

	margin-bottom: 10px;

}

.filter-wedding-group-action{

	display: flex;

	justify-content: flex-end;

	align-items: center;

}

.filter-wedding-group-action .btn{

	margin-bottom: 10px;

}

.filter-wedding-group .select-wedding-box{

	width: 150px;

	max-width: 150px;

}



.filter-wedding-group-box.single{

	justify-content: flex-start;

}

.filter-wedding-group-box.single .filter-wedding-group{

	flex: 1;

}

.filter-vertical-box .collapse-wedding-body {

	border-bottom:none; 

}

.filter-vertical-box .collapse-wedding-link {

	border-bottom:none; 

}



/*show all/less in filter vertical*/



.list-menu {

	padding-left: 0;

	list-style: none;

}

.list-menu li:nth-child(n+6){

	display:none;

}

.list-menu.open-list li:nth-child(n+6){

	display:list-item;

}

.see-all.hidden {

	display: none;

}

.open-list .see-all.show {

	display: none;

}

.open-list .see-all.hidden {

	display: block;

}



/*button menu filter vertical responsive */



.btn-filter-mobile-box {

	position: relative;

	display: block;

	margin-top: 15px;

}

.btn-filter-mobile {

	display: none;

}

.filter-vertical-box .close {

	display: none;

}



/* --- SELECT2 --- */



/*global select*/

.select-wedding-box{

	/* background-color: #9c6169; */

	margin: 0;

	border-radius: 4px;	

	-webkit-border-radius: 4px;	

	-moz-border-radius: 4px;

	min-width: 120px;

	width: 100%;

	border: 1px solid #ced4da;

}

.select-wedding-box.versi2{

	margin: 0 0 1rem 0;

	border-radius: 0;	

	-webkit-border-radius: 0;	

	-moz-border-radius: 0;	

}



.select-wedding-group{

	display: flex;

	justify-content: flex-start;

	align-items: center;

}

.select-wedding-group label{

	margin: 0 15px 0 0;

	font-size: 14px;

}



.modal-body .select-wedding-box .select-wedding.error {

	padding-bottom: 20px!important;

}



.select-wedding-box label.error {

	position: absolute;

	bottom: -32px;

	right: 0;

}



/*if add icon at left*/



.select-wedding-box-prepend{

	position: relative;

}

.select-wedding-box-prepend .input-group-text{

	padding: 0 10px 0 15px;

	height: 44px;

	background: #9c6169;

	position: relative;

	z-index: 1;

	margin-right: -3px;

	border-top: 1px solid #ced4da;

	border-right: 1px solid transparent;

	border-bottom: 1px solid #ced4da;

	border-left: 1px solid #ced4da;

	border-radius: 4px 0 0 4px;

	-webkit-border-radius: 4px 0 0 4px;

	-moz-border-radius: 4px 0 0 4px;

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

}

.select-wedding-box-prepend .input-group-text i{

	font-size: 14px;

	color: #f98341;

}

.select-wedding-box .select2{

	border: none;

	border-radius: 0px;

	-webkit-border-radius: 0px;

	-moz-border-radius: 0px;

	padding: 0;

}



.select-wedding-box .select2:focus{

	outline: none;

}

.select-wedding-box .select2-container{

	display: block !important;

	width: 100% !important;

}

.select-wedding-box .select2-container--default .select2-selection--single .select2-selection__rendered{

	color: #999999;

	padding-left: unset;

	line-height: 1.5;

	text-align: left;

}

.select-wedding-box .select2-container--default .select2-selection--single{

	border-color: transparent;

	border-radius: 0;

	-webkit-border-radius: 0;

	-moz-border-radius: 0;

	height:calc(1.5em + .75rem + 2px);

	padding:.375rem .75rem;

	font-weight: 300;

	background-color: transparent;

	outline: none;

	-webkit-outline: none;

	-moz-outline: none;

	font-family:'Montserrat',sans-serif;

}

.select-wedding-box .select2-container--default.select2-container--disabled .select2-selection--single,

.select-wedding-box .select2-container--default.select2-container--disabled .select2-selection--multiple{

	background-color: #eeeeee;

}

.select-wedding-box .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow b,

.select-wedding-box .select2-container--default.select2-container--disabled .select2-selection--multiple .select2-selection__arrow b{

	border-color: #999999 transparent transparent transparent ;

}



/*caret select2*/



.select-wedding-box .select2-container--default .select2-selection--single .select2-selection__arrow{

	top: 0;

	height:calc(1.5em + .75rem + 2px);

	width: 30px;

	text-align: center;

}

.select-wedding-box .select2-container--default .select2-selection--single .select2-selection__arrow b{

	border-color: #292560 transparent transparent transparent ;

	border-width: 5px 4px 0 4px;

}

.select-wedding-box .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{

	border-color:  transparent transparent #292560 transparent !important;

	border-width: 0 4px 5px 4px;

}



/*select2 dropdown*/



.select2-results__option{

	font-size: 14px;

}

.select2-container--default .select2-results__option--highlighted[aria-selected]{

	background-color: #789dac;

}

.select2-container--default .select2-results__option[aria-selected="true"]{



}

.select2-results__option[aria-selected]{

	color: #999999;

}



/*select2 translate*/



.select-translate-group{

	display: inline-block;

	vertical-align: middle;

	padding: 12px 10px 12px;

}

.select-translate-group .fas{

	color: #9c6169;

	display: inline-block;

	vertical-align: middle;

	margin-right: 2px;

}

.select-translate-group .select2-container{

	display: inline-block;

	vertical-align: middle;

	width: auto;

}

.select-translate-group .select2-container--default .select2-results__option--highlighted[aria-selected]{

	background-color: transparent !important;

}

.select-translate-group .select2-container--default .select2-selection--single .select2-selection__rendered{

	color: #9c6169;

	line-height: 1.5;

	text-align: center;

}

.select-translate-group .select2-container--default .select2-selection--single{

	border-color: transparent;

	border-radius: 0;

	-webkit-border-radius: 0;

	-moz-border-radius: 0;

	height:calc(1.5em + .75rem + 2px);

	padding:.375rem .75rem;

	font-size: 14px;

	background-color: transparent;

	outline: none;

	-webkit-outline: none;

	-moz-outline: none;

}

.select-translate-group .select2-container--default .select2-selection--single .select2-selection__arrow{

	height:calc(1.5em + .75rem + 2px);

	top: 0;

}

.select-translate-group .select2-container--default .select2-selection--single .select2-selection__arrow b{

	border-color: #9c6169 transparent transparent transparent ;

	border-width: 5px 4px 0 4px;

}

.select-translate-group .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{

	border-color:  transparent transparent #9c6169 transparent !important;

	border-width: 0 4px 5px 4px;

}



/* select2 translate with selectpicker*/



.select-language{

	margin-bottom: 0 !important;

}

.select-language .selectpicker{

	padding: 0;

}

.select-language .flag-icon{

	width: 13px;

}

.select-language .filter-option{

	font-size: 13px;

	color: #0c1d6b;

}

.select-language .dropdown-menu{

	flex-direction: column;

	padding: 0;

	background-color: #9c6169;

}

.select-language .dropdown-menu ul{

	padding: 0;

}

.select-language .dropdown-menu li{

	padding: 5px;

	min-width: 60px;

}

.select-language .dropdown-toggle{

	background-color: #9c6169;

	border-color: #9c6169;

	position: relative;

	bottom: 0;

	padding: 0 15px 0 5px;

}

.select-language.bootstrap-select .btn:focus{

	outline: solid transparent !important;

	outline-offset: 0;

	box-shadow: none;

	-webkit-box-shadow: none;

	-moz-box-shadow: none;

}

.select-language.btn-group{

	padding: 0 !important;

	margin: 0 5px 0;

}

.select-language .dropdown-toggle:after{

	margin-left: 0;

}

.select-language.btn-group .btn .filter-option{

	vertical-align: middle;

}

.select-language.btn-group .dropdown-menu li > a{

	font-size: 13px;

}

.select-language .btn-light{

	color: #666666;

}

.select-language.show .dropdown-menu{

	display: block;

	min-width: 60px;

}

.img-flags {

	width: 20px;

	height: 15px;

	vertical-align: middle;

	padding: 1px;

	margin-right: 5px;

}

.nav-item .select-wedding-box {

	border:none;

	min-width: 90px;

	background-color: transparent;

}







/* --- DATATABLE --- */



.clickable-row {

	cursor: pointer;

}



table.dataTable{

	margin-top:0px!important;

}



div.dataTables_wrapper div.dataTables_length label {

	font-size: 12px;

}



div.dataTables_wrapper div.dataTables_length select {

	margin: 0 10px;

}



div.dataTables_wrapper div.dataTables_filter label {

	font-size: 12px;

}



table.dataTable thead th, table.dataTable thead td {

	font-size: 18px;

	font-weight: 700;

	color: #b5b5b5;

	text-transform: capitalize;

}



/*table.dataTable tbody tr.odd, table.dataTable.stripe tbody tr.odd, 

table.dataTable.display tbody tr.odd {

    background-color: #f3f3f3;

    }*/



    .datatable-box.datatable-fixed table.dataTable td, 

    .datatable-box.datatable-fixed table.dataTable th {

    	min-width: 100px;

    	/*text-align: center;*/

    }



    .datatable-box.datatable-fixed table.dataTable th{

    	text-align:center;		

    	vertical-align:middle;

    }



    .datatable-box.datatable-fixed table.dataTable td.column-number, 

    .datatable-box.datatable-fixed table.dataTable th.column-number {

    	min-width: 20px;

    	width: 20px!important;

    	/*text-align: center;*/

    }



/*table.dataTable thead th, table.dataTable thead td {

    border-top: none;

    background-color: #909090;

}

*/

.datatable-box.datatable-fixed table.dataTable tbody tr td:nth-child(1){

	background: none;

}



.datatable-box.datatable-fixed table.dataTable tbody td{

	font-size: 18px;

	font-weight: 500;

	text-align: center;

	vertical-align: middle;

	height: 40px;

}



.datatable-box.datatable-fixed table.dataTable tbody tr td:nth-child(2) {

	text-align: left;

}



.datatable-box.datatable-fixed table.dataTable tbody tr td:nth-child(1){

	color: #000000;

	min-width: 20px;

	width: 20px!important;

}



div.dataTables_wrapper div.dataTables_paginate ul.pagination {

	margin-top: 15px;

}



.clickable-row.hover.odd,

.clickable-row.hover.even {

	background-color: #d6dfff!important;

	transition: 0.2s ease;

	-webkit-transition: 0.2s ease;

	-moz-transition: 0.2s ease;

}



.datatable-box.datatable-fixed .dataTables_scrollHeadInner table.dataTable th:last-child {

	border-radius: 0 4px 0 0;

}



.datatable-box.datatable-fixed table.dataTable th.column-number:nth-child(1) {

	border-radius: 4px 0 0;

	vertical-align: middle;

	padding: 0.75rem;

}



.dataTables_scrollHeadInner {

	padding-right: 0;

}



div.dataTables_wrapper div.dataTables_processing {

	z-index: 90;

	border: 1px solid #789dac;

	color: #789dac;

}



table.dataTable thead .column-number.sorting_asc:before, 

table.dataTable thead .column-number.sorting_asc:after,

table.dataTable thead .column-number.sorting_desc:before, 

table.dataTable thead .column-number.sorting_desc:after {

	display: none;

}



table.dataTable thead>tr>th.sorting_asc, 

table.dataTable thead>tr>th.sorting_desc, 

table.dataTable thead>tr>th.sorting, 

table.dataTable thead>tr>td.sorting_asc, 

table.dataTable thead>tr>td.sorting_desc, 

table.dataTable thead>tr>td.sorting {

	padding-right: 0;

}



.dataTables_wrapper .bottom {

	display: flex;

	justify-content: space-between;

	align-items: center;

	margin-top:20px;

}



.dataTables_length {

	margin-top: 15px;

}



.dataTables_length label {

	font-size: 18px!important;

	font-weight: 500!important;

	color: #999999;

}



.dt-buttons .btn {

	color: #9c6169;

	background-color: #292560;

	font-weight: 400;

	transition: all 0.5s ease;

	-webkit-transition: all 0.5s ease;

	-moz-transition: all 0.5s ease;

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	border-radius: 8px;

	border-color: transparent;

	background-color: #9b9b9b;

	border: none;

	padding: 0.375rem 0.75rem;

	font-size: 1rem;

	line-height: 1.5;

}



.buttons-excel:hover,

.buttons-pdf:hover,

.buttons-print:hover {

	opacity: 0.7;

}



.dt-buttons .btn:focus,

.dt-buttons .btn:active,

.dt-buttons:active,

.dt-buttons:focus {

	border: none;

	box-shadow: none;

}



.dt-buttons span {

	font-size: 18px;

	line-height: 1.5;

	vertical-align: middle;

}



.buttons-pdf {

	background-color: #e96c6c!important;

}



.buttons-excel {

	background-color: #74a573!important;

}



.buttons-print {

	background-color: #645986!important;

}



/* --- SWEET ALERT --- */



.swal-text {

	font-size: 14px;

	line-height: 1.5;

	text-align: center;

	padding-top: 10px;

}



.swal-title {

	font-size: 18px;

	line-height: 1.5;

}



.swal-title:not(:last-child){

	margin-bottom: 0;

}



.swal-footer {

	padding-top: 0;

	padding-bottom: 13px;

	text-align: center;

}



.swal-button {

	padding: 6px 18px;

	border-radius: 4px;

}



.swal-modal {

	max-width: 350px;

	min-width: 200px;

	width: auto;

}



.swal-icon {

	transform: scale(0.6);

	-webkit-transform: scale(0.6);

	-moz-transform: scale(0.6);

	margin-top: -15px!important;

	transform-origin: bottom;

	margin-bottom: 0;

}



/* --- CHECKBOX --- */



.checkbox-wedding-custom {

	display: block;

	position: relative;

	cursor: pointer;

	font-size: 22px;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

	height: 100%;

	margin: 0;

	padding: 0;

}



input.checkbox-wedding {

	position: absolute;

	opacity: 0;

	cursor: pointer;

	height: 0;

	width: 0;

}



.checkmark {

	position: absolute;

	top: 50%;

	left: 0;

	height: 20px;

	width: 20px;

	background-color: #eee;

	border-radius: 7px;

	transform: translateY(-50%);

	transition: .2s ease;

}



input.checkbox-wedding ~ .checkmark {

	background-color: #ccc;

}



input.checkbox-wedding:checked ~ .checkmark {

	background-color: #591b22!important;

}



.checkmark:after {

	content: "";

	position: absolute;

	display: none;

}



input.checkbox-wedding:checked ~ .checkmark:after {

	display: block;

}



.checkmark:after {

	left: 7px;

	top: 4px;

	width: 5px;

	height: 10px;

	border: solid white;

	border-width: 0 2px 2px 0;

	-webkit-transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	transform: rotate(45deg);

}



.custom-select:focus,

.custom-select:active,

.form-control:focus,

.form-control:active {

	border-color: #a1a1a1;

}



/* --- UPLOAD --- */



.btn-custom-upload,

.btn-custom-remove {

	display: block;

	width: 100%;

	position: relative;

	cursor: pointer;

}



.btn-custom-upload input {

	opacity: 0;

	position: absolute;

	top: 20px;

	left: 0;

	width: 100%;

	height: calc(1.5em + .75rem + 2px);

	cursor: pointer;

}



.btn-custom-upload .btn-wedding{

	margin-top: 20px;

	width: 100%;

}



/* --- SWEET ALERT --- */



.swal-popup-wedding{

	padding: 15px!important;

	width: auto!important;

	min-width: 300px !important;

	max-width: 315px !important;

	overflow: hidden!important;

}



.swal-title-wedding {

	font-size: 18px!important;

	padding-bottom: 10px !important;

	margin-bottom: 0 !important;

	line-height: 1.5 !important;

	font-family: 'Krona One'!important;

	font-weight: 300!important;

	text-transform: uppercase!Important;

}



.swal-container-wedding .swal2-content {

	font-size: 12px!important;

	color: #9e9e9e!important;

	padding-bottom: 10px!important;

	line-height: 1.5!important;

}



.swal-icon-warning-wedding .swal2-icon-content {

	font-size: 25px!important;

}



.swal-icon-warning-wedding {

	width: 35px!important;

	height: 35px!important;

	border-color: #ff8f00!important;

	border: .15em solid #ff8f00!important;

	margin: .3em auto .9em!important;

	color: #ff8f00!important;

}



.swal-icon-success-wedding {

	transform:scale(.45)!important;

	-webkit-transform:scale(.45)!important;

	-moz-transform:scale(.45)!important;

	margin: 10px auto !important;

	-webkit-transform-origin: top center!important;

	-moz-transform-origin: top center!important;

	transform-origin: top center!important;

	margin-bottom: -30px!important;

}



.swal-icon-cancel-wedding {

	width: 35px!important;

	height: 35px!important;

	margin: 10px auto !important;

	border: .15em solid #f27474!important;

}



.swal2-icon.swal2-error [class^=swal2-x-mark-line]{

	width: 1.5em!important;

	height: .1em!important;

	top: 1em!important;

}



.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{

	left: .35em!important;

}



.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{

	right: .35em!important;

}



.swal-actions-wedding {

	margin-top: 10px!important;

}



.swal-confirm-button-wedding {    

	background-color: #2055c7!important;

	padding: .375rem 1rem!important;

	line-height: 1.5!important;

	font-size: 14px!important;

}



.swal-cancel-button-wedding {

	padding: .375rem 1rem!important;

	line-height: 1.5!important;

	font-size: 14px!important;

}

/*Form select*/

.form-space-between {
    display: block;
    position: relative;
    width: 100%;
}
 .form-space-between select {
    background: #e6caa3;
    border-color: #591b22!important;
    font-size: 16px;
    font-family: 'Montserrat',sans-serif;
	color: #591b22!important;
}