@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../seremoni/themes/sariga3/assets/fonts/8vIh7wUr0m80wwYf0QCXZzYzUoTg-CSvZX4Vlf1fe6TVmgsz_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../seremoni/themes/sariga3/assets/fonts/8vIh7wUr0m80wwYf0QCXZzYzUoTg-CSvZX4Vlf1fe6TVqAsz_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../seremoni/themes/sariga3/assets/fonts/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbmyWckg.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../seremoni/themes/sariga3/assets/fonts/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbl6Wckg.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../seremoni/themes/sariga3/assets/fonts/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbrKRckg.ttf) format('truetype');
}
